/* ОСОБЛИВОСТІ */

.advantages {
    background-color: $brand-color-main;
}

// @media screen and (min-width: 768px) {
//     .advantages__container {
//         display: flex;
//         // justify-content: center;
//     }
// }


.advantages__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        flex-direction: row;

    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.advantages__item {
    width: 100%;
    
    @media screen and (min-width: 768px) {
        max-width: 354px;
    }



    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }

}

.advantages__point {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    
    @media screen and (min-width: 768px) {
        text-align: start;
    }

}

.advantages__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $brand-color-text;
}

.advantages__icon-container {
    // padding: 25px 100px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $brand-color-third;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        
    }
}