/* Наші клієнти */

.clients {
    background-color: $brand-color-main;
}

.clients__conteiner {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-color-first;
}

.clients__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients__item {
    list-style: none;
}

.cliens__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: $c-icons;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
        border-color: $brand-color-activity;
    }
}

