/* НИЖНІЙ КОЛОНТИТУЛ */

.footer {
    background-color: $brand-color-secondary;
    padding: 60px 0;
}
.footer__container {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        text-align: center;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 60px;
    }

    @media screen and (min-width: 1200px) {
        gap: 70px;
    }
}
.footer__logo-address-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // margin-right: 94px;

    @media screen and (min-width: 768px) {
        align-items: center;
        flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        // margin-right: 70px;
        align-items: flex-start;
        flex-basis: initial;
    }
}
.footer__logo {
    padding: 0;
    color: $brand-color-main;
}

.footer__address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    @media screen and (min-width: 768px) {
        align-items: center;
        
    }
    
    @media screen and (min-width: 1200px) {
        align-items: flex-start;
    }
}
.footer__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.footer__link--white {
    color: $brand-color-main;
}
.social-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // margin-right: 93px;
    @media screen and (min-width: 768px) {
        align-items: center;
        flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        flex-basis: initial;
    }
}
.social-container__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brand-color-main;
}

.social-list__link{
    &--white {
    background-color: rgba(255, 255, 255, 0.1);
    color: $brand-color-main;
    }
}

.subscription {
    display: flex;
    gap: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
        flex-basis: 450px;
    }
    @media screen and (max-width: 1199px) {
        flex-direction: column;
        align-items: center;
    }
    
    @media screen and (min-width: 1200px) {
        gap: 12px;
        flex-grow: 1;
        align-items: flex-end;
    }
}
.subscription__label {
    display: block;
    // max-width: 358px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brand-color-main;
    @media screen and (min-width: 768px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.subscription__input {  
    max-width: 450px;
    width: 100%;
    margin-top: 20px;
    max-height: 50px;
    height: 100%;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $brand-color-secondary;
    color: $brand-color-main;
}

.subscription__button {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    padding: 10px 28px;


    background-color: $brand-color-activity;
    color: $brand-color-main;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: $brand-color-main;
}
