/* НИЖНІЙ КОЛОНТИТУЛ */

.footer {
    background-color: $brand-color-secondary;
    padding: 60px 0;
}
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer__logo-address-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 94px;
}
.footer__logo {
    padding: 0;
    color: $brand-color-main;
}

.footer__address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.footer__link--white {
    color: $brand-color-main;
}
.social-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 93px;
}
.social-container__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brand-color-main;
}

.social-list__link{
    &--white {
    background-color: rgba(255, 255, 255, 0.1);
    color: $brand-color-main;
    }
}

.subscription {
    display: flex;
    flex-grow: 1;
    gap: 12px;
    align-items: flex-end;
    flex-wrap: wrap;

}
.subscription__label {
    display: block;
    max-width: 358px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brand-color-main;
}

.subscription__input {
    display: block;
    width: 100%;
    margin-top: 20px;
    max-height: 50px;
    height: 100%;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $brand-color-secondary;
    color: $brand-color-main;
}

.subscription__button {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    padding: 10px 28px;


    background-color: $brand-color-activity;
    color: $brand-color-main;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: $brand-color-main;
}
