/* НАША КОМАНДА */

.team {
    background-color: $brand-color-third;
}

.team__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.team__members-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.team__member {
    background-color: $brand-color-main;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px 0 10px 0;
}

.team__speciality {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-color-text;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-icons;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: color, backgroung-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $brand-color-activity;
        color: $brand-color-main;
    }
}

.social-list__item {
    list-style: none;
}