/* ЧИМ МИ ЗАЙМАЄМОСЬ */

.work {
    background-color: $brand-color-main;
    padding: 0 0 94px;
}

.work__container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.work__title,
.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.work__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.work__item {
    position: relative;
}

.work__image {
    display: block;
}

.work__discription {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $brand-color-main;
}