$brand-color-main: #fff;
$brand-color-first: #212121;
$brand-color-secondary: #2F303A;
$brand-color-third: #F5F4FA;
$brand-color-text: #757575;
$brand-color-activity: #2196F3;
$c-icons: #AFB1B8; 
$main-font: 'Roboto';
$secondary-font: 'Raleway';
$reserve-font: sans-serif;
